---
import LayoutCV from '../../components/layout_cv.astro';
import Cardsinside from '../../components/Cards-cv.astro';


const { blok } = Astro.props

const data = [
  { subtitle1:"Co-founder & CPO, e-scooter sharing service Berisamocat", title1: 'track record', description1: '<p class="font-formabold">June 2020 &ndash; present</p><ul class="list-disc"><li>Led R&D efforts in the first year, overseeing the research of IoT modules and data protocols with electric scooters.</li><li>Negotiated with international manufacturers and engineers.</li><li>Developed the business model and unit economics for franchise expansion.</li><li>Formulated and executed the product development strategy for the mobile application and IoT management platform.</li><li>Established a predictive analytics system using ML based on trip data across cities.</li><li>Successfully expanded the company from a single city to 30 cities from 2020 to 2024.</li></ul>', id:'1', link1: '/page1' },
  { subtitle1: "Co-founder & COO, coffee shop chain of Coffee Cult", description1: '<p class="font-formabold">May 2014 &ndash; January 2020</p><ul class="list-disc"><li>Scaled the coffee shop chain from inception to 10 locations, generating an annual turnover of 150 million rubles.</li><li>Run a barista school to train staff using a proprietary program.</li><li>Implemented a marketing strategy, making Coffee Cult the largest coffee shop chain in the region.</li><li>Started franchise sales.</li></ul>', id:'2', link1: '/page1' },
  { title1: 'education', subtitle1: 'M.Sc. Aerospace Engineering', description1: '<p class="font-formabold">September 2005 &ndash; February 2012</p><ul class="list-disc"><li>Tula State University</li></ul>', id:'3', link1: '' },
  { subtitle1: 'International student exchange program', description1: '<p class="font-formabold">May 2010 &ndash; September 2010</p><ul class="list-disc"><li>Work & Travel USA</li></ul>', id:'6', link1: '' },
  { subtitle1: 'Continuing education' ,description1: '<p class="font-formabold">2018 &ndash; 2024</p><ul class="list-disc"><li>Stanford Online, CS229 Machine Learning, Open Course, 2023</li><li>Harvard CS50 online, 2022</li><li>University of Toronto (Coursera), Neural Networks for Machine Learning, 2019</li><li>University of Michigan (Coursera), Python, 2018</li></ul>', id:'4', link1: '/page1' },


];

const data2 = [
  { title1: 'skills', description1: '<ul class="list-disc"><li>Adept at leveraging scientific principles and cutting-edge technologies to devise innovative solutions for business challenges.</li><li>Proven ability to create and develop products from scratch, covering all aspects from business models to marketing strategies and sales.</li><li>Expertise in team building, product development planning based on data and user experience.</li></ul>', id:'1', link1: '/page1' },
  { title1: 'software / tech skills', description1: '<ul class="list-disc columns-2 gap-10"><li>Python (Pandas, Streamlit, PyTorch), SQL, PHP, HTML/CSS, VS Code, Git</li><li>Tableau</li><li>Postman</li><li>Adobe Cloud</li><li>Firebase<li>SimilarWeb</li><li>Appstore Connect</li><li>Google Play Console</li><li>Figma</li></ul>', id:'2', link1: '/page1' },
  { title1: 'academic achievements', subtitle1: 'Conferences and research papers', description1: '<p class="font-formabold">January 2012</p><ul class="list-disc"><li>Prizeman of the Best Scientific Work Award in Russia, Bauman Moscow State Technical University</li></ul>', id:'3', link1: '/page1' },
  { subtitle1: 'Research publications', description1: '<ul class="list-disc"><li>Research paper in the proceedings of the “Engineering systems” international forum</li><li>Scientific paper in the proceedings of the “Gagarin’s Readings” forum, MATI &mdash; Russian State Technological University</li></ul>', id:'3', link1: '/page1' },
  { subtitle1: 'Foreign language', description1: '<ul class="list-disc"><li>English, B2</li></ul>', id:'4', link1: '/page1' },
];




const title  = "Sergey Gordeev"
const description = "Results-driven entrepreneur and technical leader with a strong background in aerospace engineering and a proven track record of successfully founding and scaling innovative businesses. Highly skilled in developing and executing strategies that drive product development and growth."
const home = "false"
 
---

<style>
.steps {
  background: var(--light);
  display: grid;
  gap: 2rem;
  grid-template-columns: min(90vw, 250px);
  justify-content: center;
  margin-top: 3rem;
  padding: 5rem 5vw;
  width: 100vw;
}

@media (min-width: 550px) {
  .steps {
    grid-template-columns: repeat(2, min(calc(50% - 1rem), 250px));
  }
}

@media (min-width: 1050px) {
  .steps {
    grid-template-columns: repeat(2, min(calc(25% - 1.5rem), 250px));
  }
}

.step {
  background: var(--white);
  border: 1px solid var(--lightBorder);
  border-radius: var(--card-radius);
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  padding: 1rem 1.5rem 1.5rem;
  text-align: left;
  box-shadow: 0 2px 4px rgb(14 30 37 / 12%);
  width: fit-content;
}
druk {
  font-family: Druk, Tahoma, sans-serif;
}

.stepHeading {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}



</style>

<LayoutCV
  title="Сергей Гордеев"
  description="Уже больше 8 лет я консультирую кофейни и рестораны по улучшению качества кофе и сервиса вокруг него, помогаю в выборе поставщиков, работаю с дизайнерами и архитекторами над интерьерами, тренерами и шеф-бариста для обучения персонала. Помогаю составить бизнес-модель, разработать бренд и концепцию заведения, выбрать достойных поставщиков зерна и обрудования и открыть кофейню."
  home="false"
  lang="en"
>

<main>

  <div class="absolute -left-32 top-1/3 blur-3xl w-72 h-72 rounded-full red -z-10"></div>

  <div class="absolute -right-2 top-3/4 blur-2xl w-72 h-72 triangle-svg -z-10 sm:hidden md:block"></div>

  <div class="absolute -left-12 -bottom-3/4 blur-2xl w-72 h-72 triangle-svg -z-10 rotate-30"></div>
  


  <h1 class="text-3xl pb-5 font-sans druk red-text"><a class="pt-0  hover:text-red-500 transition transform ease-in-out duration-300 cursor-pointer " href="/en/">{title}</a></h1>
  <div class="flex flex-wrap">
          <div class="w-full md:w-2/3 mb-4 md:pr-20 sm:w-full">
            <div class="h-full">
        <p class="description fon">{description}</p>
       
        <p class="pt-5 hover:text-red-500 transition transform ease-in-out hover:translate-x-2 duration-300">
       <a href='https://t.me/sergey_wa/'>contact via telegram →</a></p>
       <p class="pt-0  hover:text-red-500 transition transform ease-in-out hover:translate-x-2 duration-300">
        <a href='mailto:hello@sgordeev.xyz'>drop me a line on email →</a>
       </p>
       
       
      

<div class="grid content-start pt-40 w-fit">


{data.map((item, index) => <Cardsinside key={index} {...item} color="text-2xl druk pb-2 pt-2"/>)}
</div>

</div></div>
<div class="w-full md:w-1/3">
  <div class="h-full -p-5 pl-0 md:-mt-16 sm:-mt-8">
    <img src="/images/me_studio_sm.jpg" alt="Sergey Gordeev — entreprenuer and tech leader" class="object-cover w-full pb-8">
    {data2.map((item, index) => <Cardsinside key={index} {...item} color="text-2xl druk pb-2"/>)}
  </div>
  </div>
</div>

  </main>

</LayoutCV>

<p class="hover:text-red-500 transition transform ease-in-out hover:translate-x-2 duration-300">
  <a href='/images/CV_SGordeev_en.pdf'>Download as pdf</a></p>
<p class="text-sm">Updated on 1 December, 2024</p>