---
const { blok } = Astro.props

import Layout from '../../components/layout.astro';
import Cards from '../../components/Cards.astro';

const currentLocale = Astro.currentLocale;


const data = [

  { title1: 'e-scooter sharing service', description1: 'running Berisamocat company', id:'2', link1: '/en/berisamocat' },
  { title1: 'coffee consulting', description1: 'consulting for opening a coffee shop', id:'1', link1: '/en/coffee' },
  { title1: 'merch of Tula &#x2197;', description1: 'we made a hoodie with the circus logo', id:'3', link1: 'https://hooodie.ru' },
  
  

 
  // Add more data as needed
];
---

<style>
.steps {
  background: var(--light);
  display: grid;
  gap: 2rem;
  grid-template-columns: min(90vw, 250px);
  justify-content: center;
  margin-top: 3rem;
  padding: 5rem 5vw;
  width: 100vw;
}

@media (min-width: 550px) {
  .steps {
    grid-template-columns: repeat(2, min(calc(50% - 1rem), 250px));
  }
}

@media (min-width: 1050px) {
  .steps {
    grid-template-columns: repeat(2, min(calc(25% - 1.5rem), 250px));
  }
}

.step {
  background: var(--white);
  border: 1px solid var(--lightBorder);
  border-radius: var(--card-radius);
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  padding: 1rem 1.5rem 1.5rem;
  text-align: left;
  box-shadow: 0 2px 4px rgb(14 30 37 / 12%);
  width: fit-content;
}
druk {
  font-family: Druk, Tahoma, sans-serif;
}

.stepHeading {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}



</style>

<Layout
  title="Sergey Gordeev"
  description="Entrepreneur, co-founder of the scooter sharing service Berisamokat, developing e-commerce in the Russian tea company Nitka, producer of merchandise for Nikola-Lenivets (largest art-park in Eastern Europe). My passion in technology and innovations is combined with an interest in businesses, travel, and photograpy. Looking for new challenges and opportunities for growth, I actively search for interesting Russian and international tech startups as co-founder or CEO."
  home
>

<main>

  <p class="pt-5 hover:text-red-500 transition transform ease-in-out hover:translate-x-2 duration-300">
    <a href='/en/cv/'>Resume &rarr;</a></p>

  <div class="absolute -left-32 sm:top-1/2 md:top-1/3 lg:top-1/3 blur-3xl w-72 h-72 rounded-full red -z-10"></div>

  <div class="absolute -right-2 top-2/3 blur-2xl w-72 h-72 triangle-svg -z-10 sm:hidden md:block"></div>
  
<div class="grid lg:content-center w-fit sm:content-center" style="height:45vh;">
{data.map((item, index) => <Cards key={index} {...item} />)}
</div>

 


  </main>
</Layout>
<p class="pt-0 hover:text-red-500 transition transform ease-in-out hover:translate-x-2 duration-300">
  {currentLocale === 'ru' ? <a class="footer-link" href="/en/">En</a> : <a class="footer-link" href="/">Ru</a> }
  </a></p>
<script>
  for (let id = 1; id <= 3; id++) {
    const el = document.getElementById(`hidden-img-${id}`);
    const hiddenDiv = document.getElementById(`hidden-img-div-${id}`);

    // ✅ Show hidden DIV on hover
    el.addEventListener('mouseenter', function handleMouseEnter() {
      hiddenDiv.style.display = 'block';
      setTimeout(() => {
        hiddenDiv.style.opacity = '1';
        hiddenDiv.style.transform = 'translateY(0)';
      }, 0);
    });

    // ✅ (optionally) Hide DIV on mouse out
    el.addEventListener('mouseleave', function handleMouseLeave() {
      hiddenDiv.style.opacity = '0';
      hiddenDiv.style.transform = 'translateY(-20px)';
      setTimeout(() => {
        hiddenDiv.style.display = 'none';
      }, 500); // Adjust the timing to match your transition duration
    });
  }
</script>
