---
import Layout from '../components/layout.astro';
import Cardsinside from '../components/Cards-inside.astro';
import { ExternalLink } from 'lucide-astro';


const { blok } = Astro.props

const data = [
  { title1: '', description1: '', id:'1', link1: '/page1' },
  
 
  // Add more data as needed
];
---

<style>
.steps {
  background: var(--light);
  display: grid;
  gap: 2rem;
  grid-template-columns: min(90vw, 250px);
  justify-content: center;
  margin-top: 3rem;
  padding: 5rem 5vw;
  width: 100vw;
}

@media (min-width: 550px) {
  .steps {
    grid-template-columns: repeat(2, min(calc(50% - 1rem), 250px));
  }
}

@media (min-width: 1050px) {
  .steps {
    grid-template-columns: repeat(2, min(calc(25% - 1.5rem), 250px));
  }
}

.step {
  background: var(--white);
  border: 1px solid var(--lightBorder);
  border-radius: var(--card-radius);
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  padding: 1rem 1.5rem 1.5rem;
  text-align: left;
  box-shadow: 0 2px 4px rgb(14 30 37 / 12%);
  width: fit-content;
}
druk {
  font-family: Druk, Tahoma, sans-serif;
}

.stepHeading {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}



</style>

<Layout
  title="Berisamocat"
  description={`In the first year, I led R&D, overseeing research on IoT modules and data processing protocols for e-scooters. I negotiated with global scooter and IoT module manufacturers, as well as engineers. Developed the business model and unit economics to scale the business through a franchise model. Defined and implemented the product development strategy for the mobile app and IoT management platform. Successfully expanded the company from a single city to 30 cities between 2020 and 2024.<p class='pt-2'><a href='https://berisamocat.ru' class='underline underline-offset-2 decoration-red-500/50 hover:text-red-500 inline-flex items-center'>Berisamocat.ru <ExternalLink size={16} class='inline ml-1' /></a></p>`}
  home="false"
  lang="en"
>

<main>

  <div class="absolute -left-32 top-1/2 blur-3xl w-72 h-72 rounded-full -z-10" style="background-color: var(--blue-700);"></div>
  
<div class="grid content-start pt-40 w-fit">
{data.map((item, index) => <Cardsinside key={index} {...item} color="text-2xl blue-text druk pb-2" />)}
</div>

 


  </main>
</Layout>

