---
import Layout from '../components/layout.astro';
import Cardsinside from '../components/Cards-inside.astro';
import { getRelativeLocaleUrl } from 'astro:i18n'


const { blok } = Astro.props

const data = [
  { title1: 'Experience', description1: 'In 2014, together with a partner, we launched the first coffee bar in Tula "Coffee Cult", where we started working with specialty coffee, local roasters, and helped guests understand the varieties of beans, processing methods, flavor nuances, and brewing methods. Since then, the network has grown to 10 coffee shops and continues to operate successfully. The turnover of coffee shops is more than 150 million rubles per year. Additionally, I have launched about 15 different projects of various scales and complexities.', id:'1', link1: '/page1' },
  { title1: 'Business Model', description1: 'I will help develop a business model with a payback plan, profitability calculator, income and expense budget. We will consider tax systems, OKVED codes, the process of registering an individual entrepreneur or legal entity. We will create a Gantt chart for opening a coffee shop with all the tasks.', id:'1', link1: '/page1' },
  { title1: 'Brand Platform', description1: 'Brand development begins with an in-depth analysis and understanding of the future coffee shop’s audience, market analytics, and competitors. The brand platform consists of several main blocks: brand mission, character, values, visual communication (Tone of Voice), functional and emotional brand advantages. As part of the consultation, I offer both brand development and refinement of an existing one.', id:'1', link1: '/page1' },
  { title1: 'Architecture and Interior', description1: 'The interior and architecture of the space should reflect the main values of the coffee shop, combining space ergonomics and relevance. In this block, I will talk about approaches to selecting a space, its layout, bar location and ergonomics, as well as current interior solutions (lighting, furniture, materials). I will share contacts of manufacturers, interior designers, and architects for these tasks.', id:'1', link1: '/page1' },
  { title1: 'Equipment', description1: 'The main equipment includes the key items for a coffee shop — coffee machine, grinders, utensils, and bar inventory, water filtration system, accessories for alternative coffee brewing methods. We will choose the equipment considering the concept and budget. In addition to bar equipment, we will separately consider kitchen needs, video surveillance systems, sound, and cash register system.', id:'1', link1: '/page1' },
  { title1: 'Cash Register and CRM', description1: 'There are many solutions on the market for managing catering, from which you need to choose the right one for your future coffee shop or optimize processes in an existing establishment. In addition to the POS terminal and fiscal registrar, you need to decide on a cash register system that will allow you to keep track of sales, conduct purchase operations, monitor inventory, and manage analytics and marketing activities. We will consider several examples and help implement the optimal one. We will also set up the accounting of technological maps and optimize the system for staff.', id:'1', link1: '/page1' },
  { title1: 'Coffee and Menu', description1: 'I will talk about ways to choose a roaster and beans that suit the audience and concept of the establishment. About the features of coffee for espresso and filter, choosing utensils and setting up equipment. We will prepare technological maps for coffee drinks and work on their preparation with the team. Together with the barista trainer, we will develop seasonal and signature drinks.', id:'1', link1: '/page1' },
  { title1: 'Barista Training', description1: 'The barista is the face of the establishment, so it is important to find the right person who will share the values of your establishment and be involved in the life and development of the coffee shop. In addition to helping with candidate selection and organizing interviews, I will organize training for the future barista team and manager, develop a motivation program, internal regulations, and talk about the existing system of championships and certification.', id:'1', link1: '/page1' },
  { title1: 'Marketing', description1: 'Marketing activities at launch, loyalty program, menu design and POS materials, SMM marketing, working with traffic and location — these are just some of the tasks that will help establish communication with the audience.', id:'1', link1: '/page1' },
  { title1: 'Turnkey Opening', description1: 'To discuss your project for opening a coffee shop, optimizing business processes, launching a loyalty program, setting up accounting — you can contact me via email or Telegram.', id:'1', link1: '/page1' },
  
  // Add more data as needed
];
---

<style>
.steps {
  background: var(--light);
  display: grid;
  gap: 2rem;
  grid-template-columns: min(90vw, 250px);
  justify-content: center;
  margin-top: 3rem;
  padding: 5rem 5vw;
  width: 100vw;
}

@media (min-width: 550px) {
  .steps {
    grid-template-columns: repeat(2, min(calc(50% - 1rem), 250px));
  }
}

@media (min-width: 1050px) {
  .steps {
    grid-template-columns: repeat(2, min(calc(25% - 1.5rem), 250px));
  }
}

.step {
  background: var(--white);
  border: 1px solid var(--lightBorder);
  border-radius: var(--card-radius);
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  padding: 1rem 1.5rem 1.5rem;
  text-align: left;
  box-shadow: 0 2px 4px rgb(14 30 37 / 12%);
  width: fit-content;
}
druk {
  font-family: Druk, Tahoma, sans-serif;
}

.stepHeading {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}



</style>

<Layout
  title="Coffee Consulting"
  description="For more than 8 years, I have been consulting cafes and restaurants on improving the quality of coffee and the service around it, helping in the selection of suppliers, working with designers and architects on interiors, and with trainers and head baristas to train staff. I help to develop a business model, create a brand and concept for the establishment, choose worthy suppliers of beans and equipment, and open a cafe."
  home="false"
  lang="en"
>

<main>

  <div class="absolute -left-32 top-1/3 blur-3xl w-72 h-72 rounded-full red -z-10"></div>

  <div class="absolute -right-2 top-3/4 blur-2xl w-72 h-72 triangle-svg -z-10 sm:hidden md:block"></div>

  <div class="absolute -left-12 -bottom-3/4 blur-2xl w-72 h-72 triangle-svg -z-10 rotate-30"></div>
  
<div class="grid content-start pt-40 w-fit">
{data.map((item, index) => <Cardsinside key={index} {...item} color="text-2xl red-text druk pb-2"/>)}
</div>

</main>
</Layout>
<script>
  for (let id = 1; id <= 3; id++) {
    const el = document.getElementById(`hidden-img-${id}`);
    const hiddenDiv = document.getElementById(`hidden-img-div-${id}`);

    // ✅ Show hidden DIV on hover
    el.addEventListener('mouseenter', function handleMouseEnter() {
      hiddenDiv.style.display = 'block';
      setTimeout(() => {
        hiddenDiv.style.opacity = '1';
        hiddenDiv.style.transform = 'translateY(0)';
      }, 0);
    });

    // ✅ (optionally) Hide DIV on mouse out
    el.addEventListener('mouseleave', function handleMouseLeave() {
      hiddenDiv.style.opacity = '0';
      hiddenDiv.style.transform = 'translateY(-20px)';
      setTimeout(() => {
        hiddenDiv.style.display = 'none';
      }, 500); // Adjust the timing to match your transition duration
    });
  }
</script>
