---
const { title, description, home = false } = Astro.props;

const currentLocale = Astro.currentLocale;

import { getRelativeLocaleUrl } from "astro:i18n";
const linktoen=getRelativeLocaleUrl("en");
const linktoenn=linktoen+Astro.url.pathname.substring(1)

---

  <div class="grid pt-20 h-fit">
  <footer>
    <nav>
      <ul>
        <li>
            <p class="pt-5 hover:text-red-500 transition transform ease-in-out hover:translate-x-2 duration-300">
          <a class="footer-link" href="https://t.me/sergey_wa/"> {currentLocale === 'ru' ? 'Написать в телеграм' : 'Contact via Telegram'}
          </a></p>
          <p class="pt-0 hover:text-red-500 transition transform ease-in-out hover:translate-x-2 duration-300">
            {currentLocale === 'ru' ? <a class="footer-link" href={linktoenn}>En</a> : '' }
            </a></p>
        </li>
      </ul>
    </nav>
  </footer>
</div>
