---
const { title, description, home = false } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="preload" href="/fonts/PacaembuVar-subset.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/MulishVar-subset.woff2" as="font" type="font/woff2" crossorigin>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="manifest" href="/site.webmanifest" />

  <meta name="msapplication-TileColor" content="#5cebdf" />
  <meta name="theme-color" content="#ffffff" />
  <title>{title}</title>

  <link rel="stylesheet" href="/global.css">
  <style is:global>
    body {
      padding: 3rem;
      max-width: 1500px;
    }
    
  </style>
</head>
<body class="bg-gray-100 text-gray-900">
  <header class="container">
    <h1 class="text-gray-900 text-3xl pb-5 font-sans">{title}</h1>

    <p class="description">{description}</p>

    {home !== true && (
      <p>
        <a href="/">&larr; назад</a>
      </p>
    )}
  </header>

  <slot />

  <footer class="footer">
    <nav>
      <ul>
        <li>
          <a class="footer-link" href="https://www.netlify.com/trust-center/">Trust Center</a>
        </li>
      </ul>
    </nav>
  </footer>

</body>
</html>
